
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color:#33BEFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
  height: 150px;
  margin-bottom: 20px;
}
.user-details {
  height: 20px;
  width: 200px;
  margin: 10px 10px;
}
.select-form-field {
  width: 150px
}
.MuiInputBase-formControl {
  width: 150px
}
.customer-name {
  background-color: black;
  margin-top: 20px
}